<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Smoke Test">
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="seller"/>-->
<!--            </run>-->
<!--        </groups>-->
        <classes>
            <class name="HeaderNavTest"/>
            <class name="FooterTest"/>
            <class name="AboutHigoTest"/>
            <class name="WifiAdvertisingTest"/>
            <class name="CaseStudyTest"/>
        </classes>
    </test>
</suite>