<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test">
    <test name="higo.id test">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        <classes>
            <class name="HeaderNavTest"/>
            <class name="FooterTest"/>
            <class name="AboutHigoTest"/>
            <class name="AnnualReportTest"/>
            <class name="BlogHigoTest"/>
            <class name="WifiAdvertisingTest"/>
            <class name="CaseStudyTest"/>
        </classes>
    </test>

    <test name="blog.higo.id test">
        <classes>
            <class name="BlogHigoTest"/>
        </classes>
    </test>
</suite>